doctype html
html
    head
        title Kaiwa
        link(rel='stylesheet', href=locals.resourcePrefix + locals.cssFileName)
        script(src=locals.resourcePrefix + locals.jsFileName)
        script(src="/config.js")
    body.aux
        header
            img(id="logo", src="/images/copilot-agent-logo.png", alt="Kaiwa")
        section.box.connect
            h2 Connecting...
            a.button.secondary(href="/logout") Cancel
