doctype html
html
    head
        title COPILOT&trade; AGENT
        meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
        link(rel="stylesheet", href="/css/client.css")
        link(rel="stylesheet", type="text/css", href="//dl.dropboxusercontent.com/u/12658312/COPILOT%20AGENT/XMPP/copilotagent.css")
        block head
    body.aux
        header
            img#logo(src="/images/copilot-agent-logo.png" alt="CoPilot")
        block content

        script(src='/js/zepto.js')
        block scripts
