body
  #updateBar
    p Update available!
    button.primary.upgrade Upgrade
  #wrapper
    aside#menu
      section#organization
        a(href="/", class="settings")
          img(src="/images/copilot-agent-logo-small.png", alt="Copilot")
      div.viewport
        section#bookmarks
          h1 Rooms
          nav
          input(type="text", class="inline", placeholder="add a room")#joinmuc
        section#roster
          h1
            a(href="/", class="settings")
              | Settings
          h1 Contacts
          ul#contactrequests
          nav
          input(type="text", class="inline", placeholder="add a contact")#addcontact
      section#kaiwaNotice
        img(src="/images/copilot-agent-logo-small.png", alt="Kaiwa")
    header#topbar
      #connectionStatus
        p
          | You're currently&nbsp;
          strong disconnected
        button.primary.reconnect Reconnect
      #me
        img.avatar
        div
          span.name
          span.status(contenteditable="true", spellcheck="false")
    main#pages


